body {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.program-contain {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.program-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 500px;
    background: rgba(210, 215, 211, 1);
    border: 1px solid rgba(210, 215, 211, 1);
    font-size: 16px;
    padding: 30px;
    margin: 30px 30px 30px 200px;
    border-radius: 15%;
    padding-top: 30px;
}

.register {
    width: 200px;
    height: 50px;
    border: 3px solid black;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.program-info {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    margin-left: 100px;
    margin-top: 80px;
    font-size: 18px;
}

.registration {
    display: flex;
}

.column>div {
    display: flex;
}

div>label {
    flex-basis: 40%;
}

h2 {
    margin-bottom: 35px;
    margin-top: 0;
}

.column {
    flex-basis: 50%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}